<div class="medium-12 columns homepage_container">
  <div class="image_container">
    <div class="image_inner_container">
      <div class="image_content">
        <div class="text_section">
          <div class="headline">Helping small and big companies from all around the globe</div>
          <div class="headline_info">We started as a small but dedicated company 15 years ago and we've grown rapidly ever since. Today we serve more than a 100 companies from all around the world</div>
        </div>
        <div class="clear"></div>
        <div>
          <span class="btn_link view"><%= link_to "view our services", "#" %></span>
          <span class="btn_link contact"><%= link_to "get in touch with us", "#" %></span>
        </div>
      </div>
    </div>
  </div>
  <div>hello</div>
</div>