<div class="medium-12 columns header_container">
  <div class="header_inner_container">
    <span class="left_content">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      <span class="address">51 Brandywine Drive, Ridgecrest, CA 93555. Locate us on the <%= link_to "map", "#" %>.</span>
    </span>
    <span class="right_content">
      <ul>
        <li>
          <%= link_to "#" do %>
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-twitter" aria-hidden="true"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          <% end %>
        </li>
      </ul>
    </span>
  </div>
</div>