/*=========================================
    Section: header
    File: _header.html.erb
  =========================================*/

.header_container {
  padding: 0px !important;
}

.header_container .header_inner_container {
  padding: 0px !important;
}

// ----------------------
//  upper_header
// ----------------------

.header_container .upper_header {
  background-color: #2a2a2a;
}

.header_container .upper_header .upper_inner_header {
  background-color: #2a2a2a;
  width: 1200px;
  margin: auto !important;
  padding: 3px 0px;
}

.header_container .upper_header .left_content .fa-map-marker {
  font-size: 14px !important;
  color: #fff;
}

.header_container .upper_header .address {
  color: #fff;
  font-size: 11px;
  line-height: 30px;
}

.header_container .upper_header .address a {
  background: -webkit-linear-gradient(top, #e1965d, #D98F3D);
  background: linear-gradient(top, #e1965d, #D98F3D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header_container .upper_header .address a:hover {
  text-decoration: underline !important;
}

.header_container .upper_header .right_content {
  float: right;
  padding: 3px 0px;
}

.header_container .upper_header .right_content ul {
  margin: 0px;
  list-style: none;
}

.header_container .upper_header .right_content ul li {
  float: right;
  margin-left: 15px;
}

.header_container .upper_header .right_content ul li a {
  color: #fff !important;
}

.header_container .upper_header .right_content ul li a:hover {
  color: #e1965d !important;
}


// ----------------------
//  lower_header
// ----------------------

.header_container .lower_header {
  // background-color: #fff;
  // background-color: red;
  height: 130px;
}

.header_container .lower_header .lower_inner_header {
  // background-color: #fff;
  // background-color: green;
  width: 1200px;
  margin: auto !important;
  padding: 30px 0px;
  position: relative;
}

.header_container .lower_header .left_content a {
  color: #2a2a2a;
  font-size: 25px;
  font-weight: bold;
}

.header_container .lower_header .right_content {
  float: right;
}

.header_container .lower_header .right_content ul li {
  margin: 0px;
  list-style: none;
}


.header_container .lower_header .right_content ul li {
  float: right;
  margin-left: 25px;
  text-align: right;
  font-size: 13px;
}

.header_container .lower_header .right_content ul li .info {
  font-weight: bold;
}


.header_container .lower_header .lower_inner_header_bottom {
  width: 1200px;
  margin: auto !important;
  position: relative;
}


.header_container .lower_header .lower_inner_header_bottom .sub_content {
  // background-color: #fff;
  width: 100%;
  background-color: #e1965d; // <-------here
  padding: 3px 0px;
  position: absolute;
  top: 0px;
}

.header_container .lower_header .sub_content ul {
  margin: 0px;
  list-style: none;
}

.header_container .lower_header .sub_content ul li {
  float: left;
  margin-right: 35px;
  padding: 15px 0px;
}


.header_container .lower_header .sub_content ul li a {
  color: #2a2a2a;
  font-size: 13px;
  font-weight: bold;
  text-transform: capitalize;
}


.header_container .lower_header .sub_content ul li a:hover {
  color: #fff;
}












