/*=========================================
    Section: homepage
    File: static_pages / homepg.html.erb
  =========================================*/

.homepage_container {
  padding: 0px;
  background-color: red;
}

.homepage_container .image_container {
  background-color: green;
  background: url("img_homepg_03.jpg") no-repeat;
  background-position: 0% 60%;
  background-size: cover;
  padding: 0px !important;
  height: 600px;
}

.homepage_container .image_inner_container {
  width: 1200px;
  margin: auto !important;
  padding: 3px 0px;
}


.homepage_container .image_content {
  padding: 150px 0px;
  width: 700px;
} 

.homepage_container .text_section {
  margin-bottom: 40px;
}

.homepage_container .headline {
  color: #fff;
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  margin-bottom: 22px;
}

.homepage_container .headline_info {
  color: #fff;
  font-size: 13px;
  line-height: 22px;
}

.homepage_container .btn_link a {
  font-size: 14px;
  padding: 15px 25px;
  border-radius: 5px;
  margin-right: 15px;
}

.homepage_container .view a {
  border: 2px solid #e1965d;
  background-color: #e1965d;
  color: #2a2a2a !important;
  text-transform: capitalize;
  font-weight: bold;
}

.homepage_container .view a:hover {
  border: 2px solid #fff;
  background-color: #fff;
}

.homepage_container .contact a {
  border: 2px solid rgba(255,255,255, 0.5) !important;
  color: #fff !important;
  text-transform: capitalize;
  font-weight: bold;
}

.homepage_container .contact a:hover {
  border: 2px solid rgba(255,255,255, 0.9) !important;
}